#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #97c6ff
}

h2 {
  font-size: 24px;
  color: rgb(253, 207, 255)
}

.my-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #306d32;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin: 5px;
}

.my-button:hover {
  background-color: #53a656;
}
body {
  background: linear-gradient(45deg, #4e0016, #002b6c);
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif; /* 添加字体样式，可选 */
  color: #fff; /* 设置文本颜色为白色，以便更好地适应背景 */
}
