/* main.css */

#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 60px;
  font-family: 'Simhei', 'Times New Roman', Times, serif;
  text-shadow: -0px -0px 0 #FFFFFF, 0.5px -0.5px 0 #ffffff, -0.5px 0.5px 0 #ffffff, 0.5px 0.5px 0 #ffffff;
  margin-top: 0px;
  color: #331a8c;
}

h2 {
  text-shadow: -0.2px -0.2px 0 #ffbaf7, 0.2px -0.2px 0 #ffbaf7, -0.2px 0.2px 0 #ffbaf7, 0.2px 0.2px 0 #ffbaf7;
  font-size: 32px;
  font-family:'Simsun', 'Times New Roman', Times, serif;
  color: rgb(255, 255, 255);
}

.my-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #821f6e;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 20px;
}

.my-button:hover {
  background-color: #ab3593;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: #fff;
  background-image: url('bg/garden.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.new-button {
  margin-top: -142px;
  margin-right: 500px; /* 控制按钮3与按钮1之间的间隔 */
  background-color: #821f6e;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.button-container {
  display: flex;
  flex-direction: column; /* 按钮1和按钮2垂直排列 */
  align-items: center;
  gap: 20px; /* 控制按钮之间的间隔 */
}

